altair<5
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
DateTime
filelock
fonttools
fsspec
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
narwhals
networkx
numpy
opencv-python==4.1.3
opencv-python-headless
packaging
pandas
pillow
protobuf==3.20.3
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scipy
seaborn
six
smmap
streamlit
streamlit-cropper
sympy
tenacity
toml
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
watchdog
zope.interface
