altair<5
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
DateTime
filelock
fonttools
fsspec
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
narwhals
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
protobuf==3.20.3
psutil
py-cpuinfo
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scipy
seaborn
six
smmap
streamlit==1.22.0
streamlit-cropper==0.2.1
sympy
tenacity
toml
torch==2.4.1
torchvision==0.19.1
tornado
tqdm
typing_extensions
tzdata
ultralytics==8.3.69
ultralytics-thop
urllib3
watchdog
zope.interface
